.gameOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chooseNPits{
    position: relative;
    margin: auto;
}

.chooseNSeeds{
    position: relative;
    margin: auto;
}

.submitButton {
    position: relative;
    margin: auto;
    background-color: #2E3440;
    color: #88C0D0;
    border-radius: 5px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border: none;
}