@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('/css/header.css');
@import url('/css/register.css');
@import url('/css/game.css');
@import url('/css/gameOptions.css');

body {
    background-color: #ECEFF4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#resumeButton, #playButton, #restart, #quit{
    background-color: #2E3440;
    color: #88C0D0;
    border-radius: 5px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin: auto;
    width: 100px;
}

.opponentOptions {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2E3440;
    padding: 80px;
    border-radius: 10px;
}

.opponentOptionsText {
    color: white;
    font-size: x-large;
}

.opponentOptionsButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opponent {
    color: #88C0D0;
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    border-color: #88C0D0;
    border-style: solid;
    padding: 5px;
}