body {
    background-color: #ECEFF4;
}

header {
    background-color: #2E3440;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1982px;
}

.logo {
    display: flex;
}

.logo_image {
    width: 100px;
    height: 100px;
}

.logo_text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #88C0D0;
}

.topnav {
    overflow: hidden;
    margin-left: 1020px;
    margin-top: 32px;

}

.topnav a {
    color: #eceff4;
    text-align: center;
    text-decoration: none;
    padding: 14px 30px;
    font-size: 17px;
}

.num_holes {
    color:white;
}