body {
    background-color: #ECEFF4;
}

.header {
    background-color: #2E3440;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1982px;
}

.logo {
    display: flex;
}

.logo_image {
    width: 100px;
    height: 100px;
}

.logo_text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #88C0D0;
}

.input2{
    position: absolute;
    margin: auto;
    top: 150px;
}

.board {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1300px;
    height: 500px;
    background: #e5e9f0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #434c5e;
    border-width: 8px;
}

.small_pits_up {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}

.small_pits_down {
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}

.small_pit {
    width: 100px;
    height: 150px;
    background: #e5e9f0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #434c5e;
    border-width: 8px;
}

.left_capture_pit {
    position: absolute;
    top: 40px;
    left: 40px;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 405px;
    background: #e5e9f0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #434c5e;
    border-width: 8px;
}

.right_capture_pit {
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 0;
    width: 150px;
    height: 405px;
    background: #e5e9f0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #434c5e;
    border-width: 8px;
}

.seed {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    shape-outside: ellipse(20% 50%);
    clip-path: ellipse(20% 50%);
    background: #88C0D0;
}