body {
    background-color: #ECEFF4;
}

.header {
    background-color: #2E3440;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1982px;
}

.logo {
    display: flex;
}

.logo_image {
    width: 100px;
    height: 100px;
}

.logo_text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #88C0D0;
}
